{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<body>
  <!-- Preloader -->
  <div id="preloader">
      <i class="circle-preloader"></i>
      <img src="{% static 'img/core-img/hamburger.png' %}" alt="">
  </div>

  {% include 'partials/searchbar.html' %}

  {% include 'partials/menu.html' %}

  <div class="contact-area section-padding-0-80">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3>Olá {{ user.username }}</h3>
                </div>
            </div>
        </div>
    </div>
  </div>

  <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area">
        <div class="container">
            <div class="row">
                {% for recipe in recipes %}
                <!-- Single Best Receipe Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        {% if not recipe.picture %}
                            <img src="{% static 'img/bg-img/foto_receita.png' %}" alt="">
                        {% else %}
                            <img src="{{ recipe.picture.url }}" alt="">
                        {% endif %}
                        <div class="receipe-content">
                            <a href="{% url 'recipe' recipe.id %}">
                                <h5>{{ recipe.recipe_name }}</h5>
                            </a>
                            <a href="{% url 'delete_recipe' recipe.id %}">
                                <button type="button" class="btn btn-danger">Delete</button>
                            </a>
                            <a href="{% url 'edit_recipe' recipe.id %}">
                                <button type="button" class="btn btn-info">Edit</button>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    {% include 'partials/paginator.html' %}

  {% include '../partials/footer.html' %}
</body>

{% endblock %}
