<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animal Search</title>
</head>
<body>
  <nav class="navbar">
    Animal Search
  </nav>
  <form action="">
    <input type="text" id="search-animal" placeholder="Example: lion" name="search">
    <button type="submit">Search</button>
  </form>
  <div>
    {% for feature in features %}
      <div class="result-description">{{ feature.name }}</div>
      <div class="result-description">{{ feature.predator }}</div>
      <div class="result-description">{{ feature.poisonous }}</div>
      <div class="result-description">{{ feature.domestic }}</div>
    {% endfor %}
  </div>
</body>
</html>